<%= render "form.html", changeset: @changeset,
                        action: post_path(@conn, :update, @post) %>

<ul class="buttons">
  <li><%= link "Back", to: post_path(@conn, :index) %></li>
</ul>
